<!DOCTYPE html>
<html>
    <head>
        
         <title> Welcome to JIss's World </title>
    </head>
    <body>
         
        <h1> JIss </h1>
        <h5>너가 좋아하는 색을 골라봐!</h5>
        <form>
    <input type="color" name="name"/>
    <input type="submit" value="pick!"/>
</form>
        <p> 나에 대해 자세히 알고 싶음 여기를 눌러봐!<a href="http://startcamp-jisssh.c9users.io/info/jisssh" target="_blank"> Click Here!</p>
        <p> 나를 구독 하고 싶음  <a href="https://www.youtube.com/channel/UC6guR0-vNBvPE2QP1f9TEmw?view_as=subscriber" target="_blank"> Click Here!</p>
  
    </body>
</html>