<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ping</title>
</head>

<body>
    <h1>궁합을 봐드려요!</h1>
    <p>
        19,000,000 개 이상의 빅 데이터를 기반으로 상대방과의 궁합을 봐 드립니다!
    </p>
    <form action="/pong">
        <input type="text" name="me" />
        <input type="text" name="ssum" />
        
        <input type="submit" value="짠!" />
    </form>
</body>


</html>