<!DOCTYPE html>
<html lang="en">
<head>
    
    
   <style type="text/css">
          h1 {
              color:  #5473a3;
          }   
    
    
     </style>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   
   
   <h1>JISS HOSPITAL RESERVATION</h1>

    <p>
    <strong>CHOOSE ONE@</strong>
    <br><br>
    </p>
   
   
<p>
    {{nick}}님의 예약 날짜:
     {{date}} 
     <!--{{time}}-->
    
    
</p>
   
    
</body>
</html>