<!DOCTYPE html>
<html lang="en">
<head>
   
  <style type="text/css">
          h1 {
              color:  #5473a3;
          }  
         
         .p{
             color :#454d59;
         }
         
        
          /*.big {*/
          /*    font-size: 50px;*/
          /*}*/
        </style>


<center><title>Jiss_Reservation</title></center>
</head>
<body>
     <h1>JISS HOSPITAL RESERVATION</h1>

    <p class="p">
    <strong>Which day do you wanna reservation?</strong>
    <br><br>What is your name? 
    </p>
   
    <form action=/reservation/jisssh>
    <input type = "text" name="nick" placeholder="JISS" />
    <br>
    <input type = "text" name="date" placeholder="2018년 12월 25일" />
    <input type ="submit" value="Click!"/></form> 
    <!--<input type="time" name="time"/>-->
    
    <br>
    <img src="https://previews.123rf.com/images/rastudio/rastudio1602/rastudio160203796/52374915-%EC%8B%AC%EC%9E%A5-%EB%B0%95%EB%8F%99-%EB%AA%A8%EB%8B%88%ED%84%B0-%EB%B2%A1%ED%84%B0-%ED%94%8C%EB%9E%AB-%EB%94%94%EC%9E%90%EC%9D%B8-%EC%9D%BC%EB%9F%AC%EC%8A%A4%ED%8A%B8%EC%99%80-%ED%95%A8%EA%BB%98-%EB%B3%91%EC%9B%90-%EB%B3%91%EB%8F%99%EC%97%90%EC%84%9C-%ED%99%98%EC%9E%90-%EB%8F%8C%EB%B3%B4%EB%8A%94-%EC%9D%98%EC%82%AC-%EA%B0%80%EB%A1%9C-%EB%A0%88%EC%9D%B4%EC%95%84%EC%9B%83%EC%9E%85%EB%8B%88%EB%8B%A4-.jpg" width="400" height="200">

    
    
</body>
</html>
